<html>

    <body>
        <br>
        <div>
            <table class="tabel" id="tbl" style="display:none;">
                <tr>
                    <td width="30%" align="center">
                        <img src="../assets/img/CV-Pict.png" alt="pp" class="profile-pict">
                        <h3 style="font-family: 'Dancing Script', cursive; font-size: 30px;">Naufal Yudhistira</h3>
                        <span>
                            <i class="fas fa-map-marker-alt    "></i>
                            <span>Malang, Indonesia</span>
                        </span>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non impedit laudantium corrupti,
                            delectus quod sint mollitia quidem voluptates assumenda sed voluptatem. Tenetur, sequi nihil
                            aut consequuntur numquam iusto commodi aliquam assumenda, reprehenderit recusandae excepturi
                            atque!
                        </p>
                        <br>
                    </td>
                    <td>
                        <h3>
                            <i class="fas fa-school    "></i>
                            <span>Education</span>
                        </h3>
                        <hr>
                        <ul>
                            <li>Software Engineering at State Vocational Highschool 1 Kepanjen</li>
                            <li>Informatics Management at State Polytechnic of Malang</li>
                        </ul>
                        <br>
                        <h3>
                            <i class="fas fa-code    "></i>
                            <span>Skills</span>
                        </h3>
                        <hr>
                        <ul>
                            <li>Basic HTML and CSS</li>
                            <li>Basic Java Command Line Program</li>
                            <li>Basic Database Modeling with MySQL</li>
                        </ul>
                        <br>
                        <h3>
                            <i class="fas fa-cogs    "></i>
                            <span>Experience</span>
                        </h3>
                        <hr>
                        <ul>
                            <li>Internship at Heasoft Indonesia</li>
                            <li>Participant of Regional Skills Competition in IT Software Application</li>
                            <li>Participant of National Skills Competition in IT Software Solution for Business</li>
                        </ul>
                        <br>
                        <h3>
                            <i class="fas fa-fax    "></i>
                            <span>Contact me at</span>
                        </h3>
                        <hr>
                        <p>
                            <br>
                            <a href="https://www.facebook.com/naufal.yudhistira12" target="_blank"><img
                                    src="../assets/img/fb-hover.png" class="sosmed-icon"></a>
                            <a href="https://twitter.com/NaufalYudhisti4" target="_blank"><img
                                    src="../assets/img/tw-hover.png" class="sosmed-icon"></a>
                            <a href="https://www.instagram.com/naufalyudhistira/" target="_blank"><img
                                    src="../assets/img/ig-hover.png" class="sosmed-icon"></a>
                            <a href="https://api.whatsapp.com/send?phone=6282257229842" target="_blank"><img
                                    src="../assets/img/wa-hover.png" class="sosmed-icon"></a>
                            <a href="mailto:naufalyudhistira12@gmail.com" target="_blank"><img
                                    src="../assets/img/gm-hover.png" class="sosmed-icon"></a>
                            <a href="https://github.com/Yudhst/" target="_blank"><img src="../assets/img/git-hover.png"
                                    class="sosmed-icon"></a>
                        </p>
                    </td>
                </tr>
            </table>
        </div>

        <script>
            $(function () {
                $("#tbl").show("slide", "slow")
            });
        </script>
    </body>

</html>